[2018-07-02 06:31] usptact opened #1 "Sample data files? Demo?"
Thanks for sharing the code! Are you planning adding sample data files and/or input/output data formats?

Thanks a lot!

[2018-07-09 18:02] zhongkaifu commented on #1
Hi @usptact ,

I will add sample data files later.

Here is data format. The corpus contains each sentence per line.
For example: Parallel corpus in English and Chinese. Let's use three letters name CHS for Chinese and ENU for English, so we could have corpus files, such as train01.enu.snt, train01.chs.snt, train02.enu.snt and train02.chs.snt.

In train01.enu.snt, assume we have below two sentence

[2018-07-10 16:00] usptact commented on #1
@zhongkaifu Thank you very much! I was able to successfully train my model and do the predictions.

[2018-07-10 16:00] #1 closed

[2018-07-17 07:13] usptact opened #2 "Monitor performance on some held-out set"
Hi,
I found this project very useful when building my seq2seq models. I am wondering whether it is easy to implement reporting the performance on a held-out set (validation set) during the training? What would be the place in the code to look at?
This would allow to do the best model selection.
Thanks!

[2018-07-23 04:53] zhongkaifu commented on #2
Sure. I will add this in my plan.

[2018-07-24 00:46] #2 closed

[2019-01-27 02:53] bratao opened #3 "Sequence Label task"
Hi @zhongkaifu ,
Congratulations on the new lib. I'm very excited about it!

One question, do you think that it is viable to implement a Sequence Label task using Seq2SeqSharp
? Or RNNSharp is better suited for it?

[2019-01-30 15:09] zhongkaifu commented on #3
Thanks @bratao
Technically, the answer is yes, but CRF layer has not get implmeneted in Seq2SeqSharp yet. Besides this, RNNSharp uses more complex format and features than Seq2SeqSharp, it also has to be migrated (maybe re-implemented) in Seq2SeqSharp.

[2019-02-09 02:26] usptact opened #4 "Supported CUDA version"
Hi,

Thanks for implementing many new features!

It appears that CUDA 8.0 is implicitly used. Is there a place to use different version? I have versions 9.0 and 9.2 installed in my system.

During runtime, how does application knows where the CUDA libraries reside? Are environment variables read or is this defined in the project?

Thank you very much!

[2019-02-11 16:57] zhongkaifu commented on #4
Hi @usptact .

Seq2SeqSharp uses ManagedCUDA lib to interactive with CUDA lib. If you want to use different CUDA version, you could try to upgrade ManagedCUDA for it, but as far as I know, ManagedCUDA has 8.0 and 10.0 version, but no 9.0

Seq2SeqSharp calls NVRTC to compile kernel functions at run time, which has different ways to use CUDA libraries than NVCC. These information are not definied in

[2019-02-11 16:57] #4 closed

[2019-02-11 19:38] usptact opened #5 "Endless computation with CUDA"
I installed CUDA 10.0 and built ManagedCUDA (x64, Release) dll libraries.

Before I started training, I copied several files into the same directory as "Seq2SeqConsole.exe":
* CudaBlas.dll
* ManagedCuda.dll
* nvrtc64_100.dll (from my CUDA installation)
* nvrtc64-builtins64_100.dll (from my CUDA installation)

I start training with this command:
`/Seq2SeqConsole.exe -TaskName train -WordVectorSize

[2019-02-11 23:14] zhongkaifu commented on #5
The first running usually takes longer time for initialization and then it creates cuda_cache to speed up for the next running. Did you already try it with ManagedCUDA 8.0 ?

In my environment, I installed driver and libs for CUDA 10.0, but still used ManagedCUDA 8.0. It works fine for me.

[2019-02-12 00:34] usptact commented on #5
Yes, I tried with original ManagedCUDA 8.0 (it was provided in the repo) as well. Same behavior. Tried on two different Windows 10 machines. I had to manually copy a bunch of dlls into the runtime directory. Is this what you did as well?

It looks like the environment variables (mentioned in the previous, now closed issue) are not really respected by the CUDA/application.

If somebody checks out y

[2019-02-12 00:40] zhongkaifu commented on #5
Yes, you need to copy below dlls into your current directory before running it, since they are distributed in Nvidia CUDA package, so Seq2SeqSharp doesn't include them. "*" means the CUDA version.

cublas64_*.dll
nvrtc64_*.dll
nvrtc-builtins64_*.dll

Are you still get stuck during training even you use ManagedCUDA 8.0 ?

[2019-02-12 00:52] usptact commented on #5
Thank you for confirming. I copied the dlls you mentioned into the runtime directory (where the run .exe is).

Yes, unfortunately the issue still remains. I tried with ManagedCUDA 8.0 first (few days ago). Today, I tried on a different machine using ManagedCUDA 10.0 (checked out and built respective Github repo).

The single core of CPU is loaded 100% all the time. RAM usage fluctuates (slowly) bu

[2019-02-12 02:53] zhongkaifu commented on #5
What's your GPU type and model ? Can you run "nvidia-smi" and put the output here ?

[2019-02-12 08:23] usptact commented on #5
I am running NVIDIA Quadro M2000M card in this laptop. I tried to run ManagedCUDA 8.0 from this device. Not sure how to get "nvidia-smi" output in Windows 10.

The desktop computer (where I ran ManagedCUDA 10.0 today) has an older NVIDIA GTX 1070.

[2019-02-12 17:09] zhongkaifu commented on #5
"nvidia-smi" is usually located at "C:\Program Files\NVIDIA Corporation\NVSMI"

My dev environment is "NVIDIA GTX 1070 + Windows 10" as well and it works. Could you please 1) make a clean build (using ManagedCUDA 8.0 as dependency), 2) copy above dll to the current directory, and 3) retry it ?

[2019-02-12 18:51] usptact commented on #5
@zhongkaifu I appreciate a lot for your patience guiding me through troubleshooting! I will get back to you once I get back to my computer later today.

[2019-02-13 03:16] zhongkaifu commented on #5
I just made some new changes, such as upgrading default ManagedCUDA dependency to 10.0 version. I've tested it on some different GPU types, such as GTX1070/P40/K40m. Could you please check-out the latest source code, build and retry it ?

[2019-02-13 17:45] usptact commented on #5
Thanks for the updates to the code! I will check it out! I am currently working on a PC with Linux, so no VS2017 access for now...

[2019-02-14 05:59] usptact commented on #5
Here's the output of "nvidia-smi.exe":
[code]

[2019-02-14 06:02] usptact commented on #5
I am running the same command on the same data:
[code]

The current computation is stuck at:
[code]

[2019-02-14 06:14] zhongkaifu commented on #5
For the first running, "Precompiling ElementwiseKernels" takes longer time to precompile element-wise kernels, and then keep them to cache folder. It takes about 15 mins in my devbox. How about yours ? How much time did you wait ?

[2019-02-14 06:19] usptact commented on #5
On my box it took a couple of minutes. Right now I am waiting at the very same spot as before:
[code]

[2019-02-14 06:20] usptact commented on #5
My corpus has only 143 training examples. Can this be an issue?

[2019-02-14 06:21] usptact commented on #5
In the meanwhile, one CPU core is used 100% and RAM climbs past 10GB. And still climbing.

[2019-02-14 06:24] usptact commented on #5
It works! I had to wait a while longer! The iterations are coming in almost once per second!

[2019-02-14 06:38] zhongkaifu commented on #5
I ran Seq2SeqSharp for hundred million corpus and it works very well. :)

Precompiling is CPU only task, this is the reason why you saw CPU usage is 100%. It only happens during the first running, for the next running, Seq2SeqSharp will use cached compiled kernels and it will runs much quickly.

In addition, I don't think "Kaspersky Antivirus" is related to this.

[2019-02-14 06:39] #5 closed

[2019-02-15 00:16] erotavlas opened #6 "Can some examples for training and evaluation of model be provided?"
Hello,
Can you provide example input training files?  In particular I was wondering how to use this for named entity recognition.  How do we represent the tagged entities in the training data?

[2019-02-15 01:11] zhongkaifu commented on #6
In homepage, "Data Format" section shows what's the training corpus look like and examples. Seq2SeqSharp is used for text generation, for named entity recognition, you could try RNNSharp (it's CPU only, doesn't support GPU).

[2019-02-15 02:17] erotavlas commented on #6
Thank you for the quick reply.  I will take a look at RNNSharp.

[2019-02-15 02:17] #6 closed

[2019-11-14 23:28] zhongkaifu commented on #3
Seq2SeqSharp supports sequence-labeling task now. You can try Seq2LabelConsole.exe tool

[2019-11-14 23:28] #3 closed

[2019-11-18 13:57] GeorgeS2019 opened #7 "ManagedCuda.CudaException: ErrorOutOfMemory: The API call failed because it was unable to allocate enough memory to perform the requested operation"
Can you share your experience, perhaps in order of which parameters to adjust, that would limit the change of not running out of GPU memory.

Below is one use case which leads to the problem.
Seq2SeqConsole.exe -TaskName Train -WordVectorSize 512 -HiddenSize 512 -StartLearningRate 0.002 -EncoderLayerDepth 6 -DecoderLayerDepth 2 -TrainCorpusPath "../../corpus" -ModelFilePath "../../trainings/seq2se

[2019-11-18 16:04] zhongkaifu commented on #7
What's the size of your GPU memory ? You can reduce the values of "-WordVectorSize" and "-HiddenSize" to train a smaller model, or reduce the batch size "-BatchSize".

In addition, what the size of your source embedding and target embedding ?

[2019-11-18 16:06] GeorgeS2019 commented on #7
HI, thanks for helping, I am still learning.
My corpus has sentence not more than 128 characters. Will this determine the WordVectorSize, HiddenSize  ?

[2019-11-18 16:09] GeorgeS2019 commented on #7
Only 4GB, After this exercise, I realize how limited 4GB for learning NLP. I am reducing to "-BatchSize" to 8, after trial and error. Is there some guideline how to determine these parameters without spending hours adjusting and just before the epoch is over, the console program fails?

[2019-11-18 16:10] GeorgeS2019 commented on #7
I did not set, I guess it is default, what can I do about that.?

[2019-11-18 19:09] zhongkaifu commented on #7
The model size is determined by many different things, such as the number of layers, the hidden size of each layer, the size of vocabulary in both source side and target side and so on. I suggest you start to try smaller models at first, such as set -HiddenSize/-WordVectorSize to 64 or 128, set -EncoderLayerDepth/-DecoderLayerDepth to 2, use smaller vocabulary or training corpus and so on.

For -M

[2019-11-18 22:06] GeorgeS2019 commented on #7
HI Fu Zhongkai, I have tried keep trimming down the parameters, the training gets gradually running longer and yet it crashes later.

This Seq2SeqSHARP of your is first of its kind to serve community as an alternative to ML.NET.

It just needs more feedback, more contributions from community to keep sorting out to improve to it  for more robustness, even for small GPU RAM use case like myself :-)

[2019-11-18 22:29] GeorgeS2019 opened #8 "Any plan to make the model format more "standard"?"
It just happens that I set the .Model to be linked to Netron.

I understand that this is not a trivial work, however, I think as more and more users discover this work, it will no longer me who will feedback this :-)

![image](https://user-images.githubusercontent.com/49812372/69099276-a7fe0b80-0a5a-11ea-91ee-20a61e3f8c0c.png)

![image](https://user-images.githubusercontent.com/49812372/69099505-2

[2019-11-18 23:35] zhongkaifu commented on #7
Thanks @GeorgeS2019 . If you want to continue debug it, you can share your log file with me and I'd like to take a look. It looks like "Seq2SeqConsole_{time stamp}.log

You can just share a few lines in the beginning of the log file, which includes many key information of your training. It looks like:
D:\Seq2SeqSharp>Seq2SeqConsole.exe -ConfigFilePath train_opts.json
info,11/18/2019 2:41:59 PM Seq

[2019-11-18 23:36] zhongkaifu commented on #8
What's the meaning of "standard" ? The different frameworks have different format of their models. :)

[2019-11-19 22:15] GeorgeS2019 commented on #7
Found 13 sentences are longer than '64' tokens, ignore them.
Source language Max term id = '85146'
Target language Max term id = '78871'
Creating decay learning rate. StartLearningRate = '2', WarmupSteps = '8000', WeightsUpdatesCount = '0'
Creating Adam optimizer. GradClip = '3'
Initialize device '0'
Precompiling GatherScatterKernels
Precompiling IndexSelectKernels
Precompiling ReduceDimIndexKerne

[2019-11-20 00:13] zhongkaifu commented on #7
At the first time when you run Seq2SeqConsole, it takes a longer time to compile functions for GPU and then cache them. Than for your next run, it will be much quicker.

You starting learning rate is pretty large, consider to set it to 0.001.
What's your batch size ? You can try smaller batch size for your first trainings, such as 2, 4 or 8

[2019-11-20 13:53] GeorgeS2019 commented on #7
I compare CPU versus  external GPU
With CPU, 2 sentences and **batch size of 2,** it immediately finishes within 10 sec. [ learning rate is pretty large, consider to set it to 0.001.]

With  external  GPU, it goes through phase of increasing 10GB ram, decrease back to baseline and then up again to 10GB ram. This happens multiple times (more than 5 times) and then I stooped it.

So, I still not sur

[2019-11-20 21:29] zhongkaifu commented on #7
It's weird. What's your GPU model ? If you don't mind, could you please share the command line and some of your training corpus with me, and then I can test it on my machine.

[2019-11-20 21:36] GeorgeS2019 commented on #7
Just sent email to you  :-)

[2019-11-23 16:48] njfm0001 opened #9 "Training data format, template features and NER"
Dear zhongkaifu,

Thanks for delivering this high-quality library for deep-learning tasks. I was wondering whether you could support the same training data format used in RNNSharp, where each column represented a given feature/label, instead of using separate files for features.
Also, are template features supported in SeqLabel? An example or explanation using SeqLabel for NER would be much apprec

[2019-12-05 10:58] #8 closed

[2019-12-05 10:59] GeorgeS2019 commented on #7
With the latest code refactoring, it seems the issue is gone. Thanks and great job!

[2019-12-05 10:59] #7 closed

[2019-12-18 18:37] #9 closed

[2019-12-18 18:43] njfm0001 opened #10 "TargetInvocationException and DllNotFoundException: DLL file 'CpuOps.dll' could not be loaded"
Hi,

Everytime I open the project, press Debug and try to execute seqlabel to perform a seqlabel task, these two exceptions show up. Thus, I tried to build CpuOps beforehand, but there appeared 6 errors with the same error message:
Error	C2039	'sqrt': is not a member of 'std'	CpuOps	C:\Users\niko_\Desktop\Seq2SeqSharp-master\CpuOps\LayerNormOps.h	90

Any help would be much appreciated.

Kind regar

[2020-03-21 13:23] My-Khan opened #12 "CS1003 Syntax error, ',' expected TensorSharp D:\Seq2SeqSharp-master (1)\Seq2SeqSharp-master\TensorSharp\Cpu\CpuRandom.cs"
Hello Zhong
First I appreciate the contribution,
Previously I have used RNNSharp successfully for NER task, I am curious to apply this new version too, however, when I try to run it generates huge error list  e.g
"IntPtr is a type but is  used like a variable" especially in TensorSharp project in the following line of code
using (NativeWrapper.BuildTensorRefPtr(input_i, out IntPtr input_iPtr))

[2020-09-10 19:19] zhongkaifu commented on #12
How did you run Seq2SeqSharp ? Can you please share command line (config file), sample of training corpus with me ? I can take a look.

[2020-09-10 19:20] zhongkaifu commented on #10
Which Windows SDK version did you install ?

[2020-09-11 14:40] GeorgeS2019 opened #13 "Is there a need to integrate Byte-pair encodings (BPE)?"
Byte-pair encodings (BPE) are now very commonly used in NLP.

Is there a plan in future to integrate BPE in Sep2SeqSharp?

If so, will that be a c# wrapper [(e.g. swift wrapper) ](https://github.com/jph00/SwiftyBPE) around e.g. [FastBPE](https://arxiv.org/abs/1508.07909).

Would you consider a pure C# version of e.g. FastBPE [ link to [pure python FastBPE](https://github.com/mijing/FastBPE) ]?

Th

[2020-09-11 17:28] zhongkaifu commented on #13
Thanks @GeorgeS2019  for your suggestion.

I know sub-word tokenization is really useful for text generation tasks, such as MT task could get 2~3pt BLEU scores gain on average and some NN frameworks did integrate sub-word tokenization, such as [Marian](https://github.com/marian-nmt/marian) uses built-in [SentencePiece](https://github.com/google/sentencepiece) for data processing,

However, since i

[2020-09-13 05:42] My-Khan commented on #12
Many Zhong Kai for considering my issue here is my command-line arguments and some images
Train -WordVectorSize 512 -HiddenSize 512 -LearningRate 0.001 -ModelFilePath seq2seq.model
-TrainCorpusPath D:\Seq2SeqSharp-master (1)\Demo Data\1Train.txt -ValidCorpusPath D:\Seq2SeqSharp-master (1)\Demo Data\1valid.txt
-SrcLang ENU -TgtLang CHS -BatchSize 256 -ProcessorType CPU -EncoderType BiLSTM
-EncoderL

[2020-12-28 15:46] Bernd-H opened #14 "FileNotFoundException"
Hi!
I tried to run your program in cmd as followed:
Seq2SeqConsole.exe -TaskName Train -WordVectorSize 512 -HiddenSize 512 -SrcLang en -TgtLang de -TrainCorpusPath ./corpus -ArchType CPU

This raised an Exception:
Unhandled exception: System.IO.FileNotFoundException: The file or assembly "System.Numerics.Vectors, Version = 4.1.4.0, Culture = neutral, PublicKeyToken = b03f5f7f11d50a3a" or a depende

[2021-01-03 07:49] artepic opened #15 "No handlers have been registered for op relud"
Can you fix 'No handlers have been registered for op relud' ?
i use argument Seq2SeqConsole.exe .... -ProcessorType CPU ...

[2021-01-03 21:03] zhongkaifu commented on #15
Hi @artepic

Did you try to use CPU for training ? Okay, I will add it to support CPU for training.

[2021-01-03 21:05] zhongkaifu commented on #14
Hi @Bernd-H ,

Which version did you use ? The latest version doesn't use "System.Numerics.Vectors" anymore.

[2021-01-03 21:34] Bernd-H commented on #14
I think i used the newest release. I got the exe by the following link: https://github.com/zhongkaifu/Seq2SeqSharp/releases/tag/Release_2_0_0_0

[2021-01-04 05:42] zhongkaifu commented on #14
I will take a look. For now, you can check out the latest commit from master branch.

[2021-01-04 06:52] artepic commented on #15
Hi @zhongkaifu
now I'm just studying this solution, and I don't have an NVIDIA graphics card on my laptop. I made a fork where I intuitively added this 'relud' support. Maybe right. It's an interesting topic and your code is probably the best c # example I've found. Thank you for updating your code.

[2021-01-10 13:28] fabianschalau commented on #15
Hey @zhongkaifu
Thank you for this awesome repo!

Im trying to use it on cpu too, do you know in which timespan you will implement it?

[2021-01-11 12:45] artepic commented on #15
Hi @zhongkaifu
op relud is fixed here
https://github.com/artepic/Seq2SeqSharp/commit/11bc98e985d7184d841dddf160e4e82e71b9d3ed

some updates are here (in progress)
https://github.com/artepic/Seq2SeqSharp/commits/master

[2021-01-11 17:25] zhongkaifu commented on #15
Thank you, @artepic  for your quick fix.

I'm also working on some improvement on it and may push a update this or next week.

[2021-01-20 21:54] zhongkaifu commented on #15
Fixed.

[2021-01-20 21:54] #15 closed

[2021-01-26 13:39] fabianschalau opened #16 "Source word 'mama' is UNK"
Resolved:
Some old Model was in the same location => incr. training without new vocab!

[2021-02-05 11:06] GeorgeS2019 opened #17 "Chinese to English Translation model?"
Do you have a plan to release a Chinese to English translation model?

[2021-02-05 16:54] zhongkaifu commented on #17
Yes, it will be released very soon.

[2021-02-05 16:55] zhongkaifu commented on #14
I've updated release package. Can you please try it again ?

[2021-02-09 18:13] zhongkaifu commented on #17
The Chinese to English MT model is included in Release v2.2.1 now.

[2021-02-09 18:13] #17 closed

[2021-02-09 18:19] zhongkaifu commented on #16
The vocab is included in the model, so incr. training uses the same vocab.

[2021-02-09 18:19] #16 closed

[2021-02-09 18:20] #14 closed

[2021-02-09 18:21] zhongkaifu commented on #12
Can you please try release package and see if it works for you.

[2021-02-09 18:21] #10 closed

[2021-02-10 08:58] My-Khan commented on #12
Dear Zhong Many thanks
i tried the new version , however when I try to load it VS 2015 it generates the below error messages:
1. D:\Zhong\Seq2SeqSharp-master\TensorSharp\TensorSharp.csproj : error  : The default XML namespace of the project must be the MSBuild XML namespace. If the project is authored in the MSBuild 2003 format, please add xmlns="http://schemas.microsoft.com/developer/msbuild/2003

[2021-02-10 16:09] zhongkaifu commented on #12
Thanks @My-Khan

The Seq2SeqSharp is built by Visual Studio 2019 and dotnet core. So it seems VS 2015 is too old to support it. You may try to open it by Visual Studio Community or Visual Studio Code. They are all free to download and use.

[2021-02-11 18:34] GeorgeS2019 opened #18 "A plan to export Seq2SeqSharp translation model to ONNX`?"
Currently, both the ML.NET ( which can import ONNX) and OnnxRuntime C# API samples are missing [machine translation](https://github.com/dotnet/machinelearning-samples/issues/877).

If it is possible to export Seq2SeqSharp model to ONNX, than both ML.NET and Onnx community will benefit from that.

[2021-02-12 02:14] zhongkaifu commented on #18
Thanks @GeorgeS2019
That's a great point. My plan is to import ONNX model to Seq2SeqSharp at first, so that it can directly load pre-trained models generated by other framework rather than retrain them from the scrath.

[2021-03-09 23:02] GeorgeS2019 opened #19 "Could Seq2SeqSharp contribute to Tensorflow.NET NLU features in win-win way?"
Suggestions
- Currently Tensorlfow.NET lacks key [Keras layers](https://keras.io/api/layers/) relevant for NLU (e.g. seq2seq and transformer).
For examples:
  -  [Normalization layers](https://keras.io/api/layers/normalization_layers/)
     -  LayerNormalization
  -  [Attention layers](https://keras.io/api/layers/attention_layers/)
     -  MultiHeadAttention
     -  Attention

LayerNormalization,

[2021-04-13 20:25] GeorgeS2019 opened #20 "One unify seq2seq interop interface to backend - suggestion"
It seems there is more recent initiative to speed up the completion of the  Torch.Sharp binding interop to Torch C Api. There is now a seq2seq example implemented through Torch.Sharp.

If Seq2SeqSharp can adapt its backend to a more unifying interface that is compatible to the Torch.Sharp interop API to Torch C API, this will lead to a path with more complex Deep NLP seq2seq algorithm development.

[2021-04-14 06:24] zhongkaifu commented on #20
Hi @GeorgeS2019 .

Thanks for your suggestion. Yes, this could be an area that anyone who is interested in can try. But currently, I mainly focus on other areas for Seq2SeqSharp, such as improving quality for machine translation and abstractive summarization tasks. I will keep this suggestion in my mind and may start to work on it in the future.

[2021-04-14 08:34] GeorgeS2019 commented on #20
@zhongkaifu abstractive summarization tasks sounds exciting !

[2021-05-11 03:53] lijianxin520 opened #21 "Whether incremental training is supported"
Whether incremental training is supported？

[2021-05-11 04:13] zhongkaifu commented on #21
Yes. Please specify ModelFilePath to a existing model file, and then Seq2SeqSharp will load it for incremental training.

[2021-05-11 21:03] #13 closed

[2021-06-06 19:40] GeorgeS2019 opened #22 "What are the next seq2seqSharp examples?"
Here are the categories of HuggingFace transformer examples

<img src="https://user-images.githubusercontent.com/49812372/120937669-09ee9680-c70f-11eb-8885-78cd4adc9011.png" alt="Girl in a jacket" width="200" height="200">

It seems you have started to build more .NET seq2seqSharp transformer examples (e.g. Text Classification). Perhaps the HuggingFace example categories could guide what could be

[2021-06-06 20:32] zhongkaifu commented on #22
Hi @GeorgeS2019,

Thanks for your suggestion. I would rather like you or Seq2SeqSharp users or who is interested in it to vote which is the next example they would like to have. :)

In addition, for some examples, such as summarization, q&a, Seq2SeqSharp already support them in framework and code level, the only thing needed to build these examples are data.

Thanks
Zhongkai Fu

[2021-06-06 20:39] GeorgeS2019 commented on #22
@zhongkaifu   .NET ML communities are converging just like the path to .NET6.

Through TorchSharp, a strategy to "Convert" trained network of pyTorch to TorchSharp .NET friendly model data has been developed.

Perhaps this could speed up having more Seq2SeqSharp transformer examples with pretrained networks based on HuggingFace transformer models based on PyTorch.

@zhongkaifu  if you want to gran

[2021-06-06 21:02] zhongkaifu commented on #22
yeah~ In fact, Seq2SeqSharp is already able to train GPT-2 model in framework level (Some code for randomly token sampling and masking needs to be implemented, but they are pretty simple. :) ), however, because pre-trained models don't work very well in my current works, (very long sequence), I'm not currently focusing on this part.  But if anyone is interested in it, it would be really appreciate

[2021-08-03 22:45] GeorgeS2019 opened #23 "VisNNFile is not a valid parameter"
Seq2SeqConsole.exe -Task **VisualizeNetwork** **-VisNNFile** Seq2SeqConsole.png -EncoderType Transformer -EncoderLayerDepth 2 -DecoderLayerDepth 2

Is the Task **VisualizeNetwork**  working?

==> found the network visualization codes.  Is there a plan in future to bring them back?

[2021-08-03 23:36] zhongkaifu commented on #23
No, it's not working after Seq2SeqSharp migrated to .NET core, because the library to render graphics doesn't support in .NET core.

[2021-08-03 23:36] #23 closed

[2021-09-02 04:06] lijianxin520 opened #28 "SeqSimilarityConsole"
Hello, thank you very much for your constant efforts. Could you please provide an example of "SeqSimilarityConsole"  ?

[2021-09-02 19:46] zhongkaifu commented on #28
Hi @lijianxin520
Basically the input file format for SeqSimilairyConsole looks like
tokenized sentence1 \t tokenized sentence2

And the model will calculate similarity between sentence1 and sentence2, then the output is a score per line, for example: 0.0 ~ 1.0

For model, you need to provide training corpus to train your similarity model.

I will update README file later for it. Let me know if you

[2021-09-03 00:54] lijianxin520 commented on #28
Thank you very much for your help. I'll have a try

[2021-09-03 00:54] #28 closed

[2021-09-07 02:14] lijianxin520 opened #30 "SeqLabelConsole Sequence tag"
Hello, I am learning this framework of yours, and I did not find the problem I met in the help document. I hope you can help me. My training text format is as follows:
世界	n	n	1_n
第	m	m	1_a
八	m	m	-1_m
大	a	a	1_n
奇迹	n	n	1_v
出现	v	v	0_Root

[2021-09-07 16:47] zhongkaifu commented on #30
Hi @lijianxin520

What's problem/error/exception did you get when you ran SeqLabelConsole tool ? What's your question ?

Thanks
Zhongkai Fu

[2021-09-08 02:14] lijianxin520 commented on #30
Hello, I want to use SeqLabelConsole for Tag training, but the example provides only [Token] \t [Tag],But the format of my corpus is [Token] \t [Token] \t[Token] \t[Tag], what do I do?

[2021-09-08 03:33] zhongkaifu commented on #30
There are several different solutions can resolve your question:

1. You can try to combine tokens in these three column into a single column. For example:
世界_n_n 1_n
第_m_m 1_a
八_m_m -1_m
大_a_a 1_n
奇迹_n_n 1_v
出现_v_v 0_Root

2. Seq2Seq, SeqClassification and others already support multi-column features, however, SeqLabel has not yet. You can update it to support it. Basically, Tokens (Features) in

[2021-09-09 02:18] lijianxin520 commented on #30
Thank you very much for your help. I'll have a try.
For the two columns you see the same characteristics, one is coarse-grained and the other is fine-grained

[2021-09-09 02:18] #30 closed

[2021-09-15 21:23] GeorgeS2019 commented on #18
@zhongkaifu   please FYI [a potential reusable ONNX viewer](https://github.com/fel88/Dendrite/issues/1) that may be relevant for importing ONNX models

[2021-09-27 19:54] ysisoftwareiq opened #31 "Release not found: https://github.com/zhongkaifu/Seq2SeqSharp/releases/tag/20210125]"
I tried to get the release https://github.com/zhongkaifu/Seq2SeqSharp/releases/tag/20210125

but got 404 code.

Please let me know where to get the release with medical data corpus and trained models.

I would like to test it and try to use it in our applications.

Your 2 samples of medical text classification are very cool.

Thanks
Yury

[2021-09-28 04:09] zhongkaifu commented on #31
Hi @ysisoftwareiq

I just released a latest version: https://github.com/zhongkaifu/Seq2SeqSharp/releases/tag/RELEASE_2_4 , you can try it out.

Thanks
Zhongkai Fu

[2021-09-28 17:06] #31 closed

[2021-09-28 18:17] GeorgeS2019 opened #32 "Consider using Dagre.NET to visualize and perhaps edit/export the transformer architecture"
**Is your feature request related to a problem? Please describe.**
We need a way to **visualize/edit/export (onnx) transformer architecture for .NET community.**

**Describe the solution you'd like**
[Dagre.NET and Dendrite could evolve to support this need](https://github.com/fel88/Dagre.NET/issues/2#issuecomment-929501734). Seq2SeqSharp could export the architecture in Json format for import int

[2021-09-28 19:31] zhongkaifu commented on #32
Thanks @GeorgeS2019 . It's a great idea.
Did you know if Dagre.NET project has any example of Json format for models ? If so, I can take a look. I'm also thinking about getting rid of BinaryFormatter for model serialization and de-serialization. :)

Thanks
Zhongkai Fu

[2021-09-28 19:37] GeorgeS2019 commented on #32
@zhongkaifu

It adhere as close as possible to the [JavaScript library version](https://github.com/dagrejs/dagre/wiki)

if there is anything you need, please feedback directly [here](https://github.com/fel88/Dagre.NET/issues/2).

# Csharp versoin
[code]

# JavaScript version
[code]

[2021-09-28 20:25] fel88 commented on #32
Dendrite supports only ONNX so far, but I can implement any Json format that you provide.

[2021-09-28 20:35] zhongkaifu commented on #32
Thanks @GeorgeS2019  and @fel88 . It's really helpful.

In Seq2SeqSharp, I used to use Microsoft.Msagl.Drawing to draw operators/layers/networks, however, since it doesn't support .NET core and .NET 5.0, so I comment it out. But I still keep the empty of it. If you look at VisualizeNodes method in https://github.com/zhongkaifu/Seq2SeqSharp/blob/master/Seq2SeqSharp/Tools/ComputeGraphTensor.cs file,

[2021-09-29 13:29] GeorgeS2019 commented on #32
@zhongkaifu  @fel88

Is there a graph sub patterns or regex that can be used to search the complete  e.g [BERT.ONNX graph ](https://github.com/fel88/Dagre.NET/issues/2#issuecomment-930173945)to create groups or nested graphs to create boundaries around e.g. Encoder, Decoder of a transformer architecture?

[2021-09-29 15:22] zhongkaifu commented on #32
@GeorgeS2019  Yes, Seq2SeqSharp does have logic to create boundaries for sub-graphs. You can check method "IComputeGraph CreateSubGraph(string name)" in https://github.com/zhongkaifu/Seq2SeqSharp/blob/master/Seq2SeqSharp/Tools/ComputeGraphTensor.cs file as well. However, I  already commented it out due to the same reason in above.

[2021-09-29 15:24] GeorgeS2019 commented on #32
@zhongkaifu  thnx for the valuable tip :-)

[2021-10-08 13:54] GeorgeS2019 opened #33 "Request for more challenging Transformer architecture use cases through a better performance tokenizer .NET library"
Seq2SeqSharp is a valid alternative option for .NET Transformer architecture solution.

It seems with a cross platform .NET tokenizer library, especially with **better performance** than those provided through python library, this will make it less challenging for Seq2SeqSharp to explore other Transformer architecture real world End-To-End examples such as e.g. GPT2, BERT etc.

Raising this issue

[2021-10-18 21:25] ic202 opened #36 "Example for Seq2Seq for sequence-classification"
I would love to use Seq2SeqSharp for Multi-intent classification for Chatbot.
Unfortunately I do not understand your examples offered here. I also can't find the test file.
Is there a c# demo project somewhere that explains this problem.

I must mention that my experiences with AI are just using Microsoft ML.Net.

thank you in advance

[2021-10-18 22:30] zhongkaifu commented on #36
Hi @ic202
For classification task, you should use SeqClassificationConsole for it and it uses two input files for training. For your chatbot classification task, one file may contain each turn per line and the other one file contains the corresponding intention of the turn. For example:

File: train.src.snt (each turn per line)
How are you ?
I 'm going to Seattle , WA .
Do you like this movie ?
..

[2021-11-04 17:52] GeorgeS2019 opened #39 "Post Inference APIs or functions reusability"
Consider provision of Seq2SeqSharp Post Inference functions as APIs or externally callable methods.

Currently Seq2Seqsharp has one of the most complete selection of commonly use .NET Transformer post Inference functions
- e.g. Text Generation Strategy: **ArgMax, Beam Search, Top-P Sampling**.

The .NET community need these functions to work with different ML frameworks: e.g. .NET Onnx.Runtime, ML

[2021-11-05 20:16] zhongkaifu commented on #39
Thanks @GeorgeS2019 for comments and sharing these information. Supporting ONNX model import and export is definitely one of the important features I'm thinking about. Model exporting to ONNX format seems easier than model importing. Let me know if you have any additional idea and resource on it.

[2021-11-05 21:12] GeorgeS2019 commented on #39
For non complex transformer model, my instinct is that the ONNX import could be straight forwards. I am still learning.

At this point, it is unclear the complexity of transformer architecture you have used and how is that benchmark with those available e.g. at ONNX Model Zoo.

Would you consider addressing this in iterative way. First consider exporting your existing models to ONNX so it is possi

[2021-11-05 21:17] GeorgeS2019 commented on #39
Although you are sharing these diagrams: e.g.
![image](https://raw.githubusercontent.com/zhongkaifu/Seq2SeqSharp/master/SeqClassificationModel.jpeg)

It is time using **standards** to help others understand what you have accomplished.

[2021-11-06 21:00] zhongkaifu commented on #39
Thanks for your suggestion.  The diagrams you mentioned are networks for multi-tasks training which is widely used for low resource domains. They are built-in in Seq2SeqSharp. We already trained models and ship them to production in real world.

For above specific diagram, they are implemented in SeqClassification.cs in Applications folder and its core part ("Encoder") is still an original transfo

[2022-03-21 23:59] swidz opened #45 "Question on Named Entity Recognition"
Hi,
Would it be possible to build a named entity recognition classifier using this project? I saw a 3yrs old post where you replied it was not possible and then a second one posted a year later where you informed that CRF was implemented.

I am looking for a .net core based tool for training and runing NER tasks.

Thank you in advance.
Regards,
Sebastian

[2022-03-22 00:15] zhongkaifu commented on #45
Yes, Seq2SeqSharp can do it now.
SeqLabelConsole is a command line tool for sequence labeling task (NER can be considered to a typical sequence labeling task). You can download the latest [release package](https://github.com/zhongkaifu/Seq2SeqSharp/releases/tag/RELEASE_2_4_1) and it will show you how to train and test model for it.

[2022-03-24 09:33] swidz commented on #45
Thank you

[2022-03-24 09:33] #45 closed

[2022-03-25 16:47] #36 closed

[2022-03-25 16:48] #33 closed

[2022-05-27 17:04] GeorgeS2019 commented on #39
@zhongkaifu  Microsoft start to support the reusability of post inference API in the form of [contributed operators](https://github.com/microsoft/onnxruntime/blob/master/docs/ContribOperators.md)

Among .NET projects, many of these operator functions have been implemented however in a non-reusability form. Hopefully, the above link provides you with NEW inspiration to revisit the topic of reusabil

[2022-06-16 21:39] piedralaves opened #49 "I cannot open the zip files"
**Describe the bug**
I cannot open the zip files you provided for data. I mean the Release Packages.

**To Reproduce**
They downloaded propertly but I cannot open them in my desktop. What I am doing wrong?

Thanks a lot. I appreciate your work.

[2022-06-17 06:19] zhongkaifu commented on #49
Hi @piedralaves

Which software did you use to unzip the release package ? I just tried it by 7-zip and it works.

[2022-06-17 11:19] piedralaves commented on #49
Yes. I had used winrar. My solution was to repair zip file with winrar instead of open them directly. I can open some of them now. Thanks.

[2022-06-17 16:33] #49 closed

[2022-06-20 15:46] piedralaves opened #50 "Which are the right parameters in the configuration file if you want to use pretrained embbeddings?"
I am starting to use SeqClassification. I have sentences in the source file and a category in the target file.
My question is, which are the right parameters in the configuration file if you want to use pretrained embbeddings? I have a txt2vec pretrained model and I want to test its performance.

I have "SrcEmbedding":"model.bin" but I guest some more parameters are needed to indicate to the exe i

[2022-06-20 20:11] piedralaves commented on #50
Hi Zhongkai,

I dont know if I understand you propertly. Do you mean that there is no chance to load a pretrained embbedding matrix in Seq2SeqSharp?

If I put "SrcEmbedding":"model.bin", with a text2vec model, is it ignored?

Between others thing, I am interested in load pretrained embbedding matrices. It is not posible?

Thanks a lot

I just want to know how I can start with your impresive stack.

[2022-06-20 22:12] zhongkaifu commented on #50
You can modify Seq2SeqSharp to add this feature back if you want to use it. You can check this file in the older version of Seq2SeqSharp: [AttentionSeq2Seq.cs](https://github.com/zhongkaifu/Seq2SeqSharp/blob/65e3d992c27fed1aac59242ced01c58ae17fd11d/Seq2SeqSharp/AttentionSeq2Seq.cs) and check how LoadWordEmbedding functions and which code calls it.

private void LoadWordEmbedding(string extEmbeddin

[2022-06-21 11:22] piedralaves commented on #50
Thanks a lot,

I am trying to enable LoadWordEmbedding(). The problem is that inside this procedure there is a call to Txt2Vec.Model , which is in your Txt2Vec. I have added Txt2Vec project to the main solution with net 6. Txt2vec calls the cronstructor of "VectorQuantization vq = new VectorQuantization();"  which must be in advUtils, but there is not VectorQuantization class in current advUtils (

[2022-06-21 17:34] zhongkaifu commented on #50
You can try this AdvUtils repo: https://github.com/zhongkaifu/AdvUtils

For your task, you can try to use the same model (and vocabulary) with different hyper-parameters, such as learning rate, max-update steps, and data set for pre-training and fine-tuning.

For example: You can use Transformer base model (6 layers and 512 dim), Wikipedia data set, and a larger starting learning rate, such as 0.0

[2022-06-22 19:20] piedralaves commented on #50
Thanks a lot for the second suggestion.

I am working in anycase in the solution of the integration of pretrained word embeddings. The fact is that we are researchers from a university and we want to monitor pretrained word embeddings as well. It is a good choice to have the two posibilities.

At this point, we have integrated yet the function that load the embedding and the vocabularies, and it w

[2022-06-22 19:53] zhongkaifu commented on #50
The exception is from this line:

var weightedQKV = g.View(g.Affine(inputQNorm, QKV, QKVb), dims: new long[] { batchSize, seqLenQ, 3, m_multiHeadNum, m_d });

It seems m_multiHeadNum * m_d is not equal to your weights dim. Can you please share your config file here ?

[2022-06-22 20:00] piedralaves commented on #50
`{
"Task":"Train",
"HiddenSize":150,
"EmbeddingDim": 150,
"SrcVocabSize": 17883,
"TgtVocabSize": 2,
"IsEmbeddingTrainable": false,
"IsEncoderTrainable": false,
"StartLearningRate":0.0006,
"WeightsUpdateCount":0,
"EncoderLayerDepth":2,
"DecoderLayerDepth":2,
"SharedEmbeddings":false,
"EnableTagEmbeddings":false,
"TgtVocab":"C:/Users/jorge/source/repos/Seq2SeqSharp-RELEASE_2_5_0/ReleasePackage/data/

[2022-06-22 20:19] zhongkaifu commented on #50
Try to modify your HiddenSize and EmbeddingDim to 148, or change MultiHeadNum to 5. Because HiddenSize and EmbeddingDim must be divided by MultiHeadNum with no remainder.

[2022-06-22 21:02] piedralaves commented on #50
My pretrained txt2vec models has 150D so it is better for me to turn MultiHeadNum to 5. It seems to work now.

In any case, I will evaluate it and let you know.

Thanks a lot

[2022-06-22 21:19] piedralaves commented on #50
If pretrained txt2vec models is used, shoud I set the parameter "IsEmbeddingTrainable" to false,
and "IsEncoderTrainable" also to false?

[2022-06-22 21:32] piedralaves commented on #50
Both? even "IsEmbeddingTrainable"?

[2022-06-22 21:35] zhongkaifu commented on #50
Yes.

[2022-06-22 21:36] piedralaves commented on #50
Thanks a lot.

[2022-07-05 12:03] piedralaves opened #51 "<unk>in vocab and embedding when pretrained word representations"
Hi zhongkai:

Is it necesary to have an<unk> symbol in the vocab file and its corresponed vector row in the embedding matrix?

I want to know how seq2seqSharp deal with the words in a sequence that are no represented in the vocabulary and hence has no vector in the embedding matrix. Are they automatically homologated with <unk> and then, the <unk> vector are retrieved to the training?

Thanks a lo

[2022-07-05 16:48] zhongkaifu commented on #51
Hi @piedralaves

Seq2SeqSharp has bulit-in token for OOV (UNK), and it can automatically replace tokens not in the vocabulary into it. If your vocabulary is built by Seq2SeqSharp from given training data set, it automatically adds the following tokens into the beginning of the vocabulary.
</s>
<s>
<unk>
[SEP]
[CLS]

Note that for older version, please check released source code that which tokens a

[2022-07-05 16:49] #50 closed, assigned to nobody

[2022-07-06 17:53] zhongkaifu commented on #51
They are <s> and </s>. If lines in data set don't have them, Seq2SeqSharp will automatically add them to the lines, otherwise, it won't put them in the line. This is for both training and test.

[2022-07-10 15:39] axel578 opened #52 "What is SNT file and how to create a new file"
Hello !

I would like to know if it would be possible to create a new vocab snt file, I looked at this file in notepad but I'm note sure it's for vocabulary.

For my case I want to generate text which is some sort of xml file with  a limited number of token.
Every snt file available aren't suited to what I'm trying to do.

I would like to know if it's possible in any way to generate a new snt file

[2022-07-12 12:10] piedralaves commented on #51
Thanks a lot.
G

[2022-07-13 19:07] GeorgeS2019 commented on #52
@zhongkaifu

Just curious, how is this language generation implemented similar or dissimilar to e.g. GPT-x ?

[2022-07-13 19:13] zhongkaifu commented on #52
Hi @GeorgeS2019

You could use Seq2SeqSharp to train GPT-x models only if you have training data set for it. They are all Transformer based model and data set is masked text.

[2022-07-14 12:58] axel578 commented on #52
Yes but what is .\spm\enuSpm.model for ? is it for the vocabulary, because on my scenario the vocabulary is a bunch of code different than the usual vocabulary

[2022-07-14 16:45] zhongkaifu commented on #52
enuSpm.model is for SentencePiece to encode/decode for subword level tokens. Seq2SeqSharp can directly call APIs in SentencePiece for subword level encoding and decoding. SentencePiece has its own vocabulary in subword level, and it's different with your vocabulary.

I don't think you need to care about it, because with parameters "-SrcSentencePieceModelPath"  and -TgtSentencePieceModelPath", Seq2

[2022-07-14 23:08] GeorgeS2019 commented on #52
@zhongkaifu

Is **importing trained weights from** e.g. GPT2 **.onnx** into Seq2SeqSharp model to avoid training is still part of a long term plan?

[2022-07-14 23:25] GeorgeS2019 commented on #52
@zhongkaifu

I hope you are aware that: ArgMax, Beam Search, Top-P Sampling exist as OnnxRuntime's contributed operators

There is a need for these operators to stay [modular and reusable](https://github.com/zhongkaifu/Seq2SeqSharp/issues/39) for .NET

Do you see the need for such? :-)

The ONNX industry community has already identified that and makes these Text Generation Strategy modular and reu

[2022-07-14 23:53] zhongkaifu commented on #52
I know there is a need for modular and reusable, but it's not high priority and urgent for me right now. This is the reason why I say it's a long-term plan.

[2022-07-20 17:28] #51 closed

[2022-07-24 10:54] piedralaves opened #53 "writing embedding matrix"
Hi again:

As you know, we are researching about the effect of pretrained embedding matrix.
For this purpose, we are writing [SeqClassification].m_srcEmbedding (the embedding matrix)  before and after training, while"IsEmbeddingTrainable" is set to "true".

The fact is that the embedding matrix before and after looks the same. Maybe I misunderstand something. should m_srcEmbedding change due to th

[2022-07-24 15:55] zhongkaifu commented on #53
Hi @piedralaves

For SeqClassification, you can check the following code in Seq2SeqSharp\Applications\SeqClassification.cs file

 m_srcEmbedding = new MultiProcessorNetworkWrapper<IWeightTensor>(new WeightTensor(new long[2] { model.SrcVocab.Count, model.EncoderEmbeddingDim }, raDeviceIds.GetNextItem(), normType: NormType.Uniform, fanOut: true, name: "SrcEmbeddings", isTrainable: m_options.IsEmbedd

[2022-07-24 16:35] piedralaves commented on #53
My question is if the values of m_srcEmbedding must change if  IsEmbeddingTrainable is set to true. It is expected to change, isn't it?

We are writing  m_srcEmbedding before and after training and looks the same values.

[2022-07-24 17:49] zhongkaifu commented on #53
Based on above code, if you set IsEmbeddingTrainable to true, the weights of m_srcEmbedding will be updated during training (this means "trainable").

Thanks
Zhongkai Fu

[2022-07-25 07:00] lijianxin520 opened #54 "GPU train error"
Hello, the picture below shows that I used GPU for training, but the loading error occurred.
![image](https://user-images.githubusercontent.com/47262889/180716972-3036c8ff-716b-42ff-a16d-be11ca70c341.png)

[2022-07-25 15:09] zhongkaifu commented on #54
Can you please show more details for debugging? Such as call stack, config files, which tags in your data set and any other useful information.

[2022-07-26 03:24] lijianxin520 commented on #54
Thank you very much for your attention, the same data I used runs without problem under THE CPU, but the time is very slow. Then I made a mistake when I changed the configuration information to GPU.

I suspect that there is something wrong with the GPU environment. My system environment is:

Windows 7, NV1060;

Software installed CUDA10.1;
[train_cut_opts_gpu.txt](https://github.com/zhongkaifu/Seq

[2022-07-26 05:02] zhongkaifu commented on #54
Seq2SeqSharp uses CUDA 11.4 or above by default. For older CUDA version, you can read this file: https://github.com/zhongkaifu/Seq2SeqSharp#using-different-cuda-versions-and-net-versions , and modify the project file. I already tested Seq2SeqSharp on Nvidia GTX 1060 (6G memory) and it works.

In addition, if your config file has this line, "CompilerOptions": "--use_fast_math --gpu-architecture=com

[2022-07-26 10:04] piedralaves commented on #53
Thanks a lot
All right now

[2022-07-26 10:53] piedralaves commented on #53
Just a remark:

We are writing m_srcEmbedding before and after training

//writing m_srcEmbedding before training (our function to write the matrix)
Program.writeEmbeddingMatrix(ss, "PRE");

//training (as usual)
ss.Train(maxTrainingEpoch: opts.MaxEpochNum, trainCorpus: trainCorpus, validCorpusList: validCorpusList.ToArray(), learningRate: learningRate, optimizer: optimizer, taskId2metrics: taskId

[2022-07-26 15:01] zhongkaifu commented on #53
Sorry that I didn't understand this part: "Nonetheless, if we start an incremental training, the matrix written by Program.writeEmbeddingMatrix(ss, "PRE") is new and different."

Do you mean after you load the existing model, and immediately call "Program.writeEmbeddingMatrix(ss, "PRE")", then you have different output matrix ?

How did you implement writeEmbeddingMatrix function? Where did you ca

[2022-07-26 16:32] piedralaves commented on #53
**"Do you mean after you load the existing model, and immediately call "Program.writeEmbeddingMatrix(ss, "PRE")", then you have different output matrix ?"**

No, I mean that when we call Program.writeEmbeddingMatrix(ss, false) and Program.writeEmbeddingMatrix(ss, true) in the below code, we obtain the same weights.

The points we call writeEmbeddingMatrix are in the program.cs of SeqClassification

[2022-07-26 16:34] piedralaves commented on #53
The config:
[code]

[2022-07-26 18:40] zhongkaifu commented on #53
Here are some things you can check.
1. Check if IsTrainable property is true after you load the matrix from the model. You can find its definition in WeightTensor.cs: https://github.com/zhongkaifu/Seq2SeqSharp/blob/master/Seq2SeqSharp/Tools/WeightTensor.cs If it's true, its weights will be updated during training. In you example, you can check "qc.m_srcEmbedding.GetNetworkOnDevice(k).IsTrainable"

[2022-07-26 19:26] #52 closed

[2022-07-26 19:29] piedralaves commented on #53
I will check what you say and let you know. Thanks a lot. We appreciate your advices very much.

The logs are attached in this message, and event by email.
[SeqClassificationConsole_Train_2022_07_21_12h_39m_10s.log](https://github.com/zhongkaifu/Seq2SeqSharp/files/9192771/SeqClassificationConsole_Train_2022_07_21_12h_39m_10s.log)
[SeqClassificationConsole_Train_2022_07_24_12h_42m_08s.log](https://

[2022-07-26 19:48] zhongkaifu commented on #53
I just looked into your logs file, but didn't find any keyword for "SrcEmbeddings". In SeqClassification.cs, the "SrcEmbeddings" is created by this line:
m_srcEmbedding = new MultiProcessorNetworkWrapper<IWeightTensor>(new WeightTensor(new long[2] { model.SrcVocab.Count, model.EncoderEmbeddingDim }, raDeviceIds.GetNextItem(), normType: NormType.Uniform, fanOut: true, name: "SrcEmbeddings", isTrain

[2022-07-26 20:28] piedralaves commented on #53
This line
`m_srcEmbedding = new MultiProcessorNetworkWrapper(new WeightTensor(new long[2] { model.SrcVocab.Count, model.EncoderEmbeddingDim }, raDeviceIds.GetNextItem(), normType: NormType.Uniform, fanOut: true, name: "SrcEmbeddings", isTrainable: m_options.IsEmbeddingTrainable), DeviceIds);`

is in CreateTrainableParameters fucntion, isn't it?

I have this line in CreateTrainableParameters :

 `m

[2022-07-26 20:44] piedralaves commented on #53
The line you aim is in CreateTrainableParameters, isn't it?

[code]

And it seems that is called properly when debbugging.

[code]

Could you see my code in azure devops

[2022-07-26 22:04] zhongkaifu commented on #53
You code looks good to me. In addition, the log file doesn't output "Register network 'SrcEmbeddings'". Can you please set a breakpoint to this line:
 m_srcEmbedding = new MultiProcessorNetworkWrapper<IWeightTensor>(new WeightTensor(new long[2] { model.SrcVocab.Count, model.EncoderEmbeddingDim }, raDeviceIds.GetNextItem(), normType: NormType.Uniform, fanOut: true, name: "SrcEmbeddings", isTrainabl

[2022-07-26 22:12] piedralaves commented on #53
![image](https://user-images.githubusercontent.com/107651732/181121214-ebcd9712-8f1a-4ee2-b4ec-ac7ff266fd9b.png)

[2022-07-26 22:21] zhongkaifu commented on #53
The value is true and it looks good. Is the m_srcEmbedding's definition like the line in below ?
private MultiProcessorNetworkWrapper<IWeightTensor> m_srcEmbedding; //The embeddings over devices for target

Can you also set a break point inside LoadParameters to check which networks in the dictionary m_name2network ? It should have all networks including source embedding, encoder and others.

[2022-07-26 22:27] piedralaves commented on #53
public MultiProcessorNetworkWrapper<IWeightTensor> m_srcEmbedding; //The embeddings over devices for target

[2022-07-26 22:27] piedralaves commented on #53
Which function calls LoadParameters. It seems not to be fired.
G

[2022-07-26 22:37] zhongkaifu commented on #53
It gets called when loading an existing model from file. For training from the scratch, it wont' be called.

Anyway,  you can set breakpoints inside Register method and check if source embedding is in networks and get registered.

private void Register(object childValue, string name)
        {
            if (childValue is IMultiProcessorNetworkWrapper networks)
            {
                m_nam

[2022-07-26 22:50] piedralaves commented on #53
No, it seems it is not. Not in names, not in networks.
Why?. Are you sure that in the original code it does work as you expected?

[2022-07-26 22:58] zhongkaifu commented on #53
Yes, it's working. I noted your m_srcEmbedding is public, you need to change it to private and try it again.

In RegisterTrainableParameters method, it only iterates non public fields and properties and register them if it's a network or weight tensor.

 internal void RegisterTrainableParameters(object obj)
        {
            if (m_name2network != null)
            {
                return;

[2022-07-26 23:06] piedralaves commented on #53
Ok. That could be the cause.
I will set again m_srcEmbedding to private and try to write the matrix in another way.
Then, I let you know.
Thanks a lot
G

[2022-07-26 23:25] piedralaves commented on #53
It seems that it was the cause. I am now starting the training and will write the matrix before and after it. I let you know. The log looks fine now, doesn't it?
[SeqClassificationConsole_Train_2022_07_27_01h_29m_49s.log](https://github.com/zhongkaifu/Seq2SeqSharp/files/9193850/SeqClassificationConsole_Train_2022_07_27_01h_29m_49s.log)

Thank a lot

[2022-07-26 23:29] zhongkaifu commented on #53
Yes, it looks good now.

[2022-07-27 07:15] lijianxin520 commented on #54
Thank you very much for your support. Let me try.

[2022-07-27 10:02] lijianxin520 commented on #54
Hello, I did not reinstall the system, I adjusted the version of CUDA to 10.2; Nvrtc64_102_0. DLL and nvrTc-builtins64_102. DLL are copied to the program running directory. The following error occurs:
![image](https://user-images.githubusercontent.com/47262889/181220159-73f67690-eb3c-4926-86b0-3ef912f1eaf7.png)

[2022-07-27 14:20] zhongkaifu commented on #54
Try to delete 'cuda_cache' folder and retry it.
In addition, what's your config file looks like ? For "CompilerOptions" in config file, please delete settings for "--gpu-architecture" if you don't know which value is correct for GTX 1060.

[2022-07-28 00:48] lijianxin520 commented on #54
Thank you very much for your help. I removed the configuration of 'CompilerOptions' and now I can run. And it's fast. Thanks again!

[2022-07-28 00:48] #54 closed

[2022-07-28 04:31] lijianxin520 opened #55 "Didn't save the model?"
Here is my configuration file:
{
"Task":"Train",
"EmbeddingDim":512,
"HiddenSize":512,
"StartLearningRate":0.001,
"WeightsUpdateCount":0,
"EncoderLayerDepth":6,
"DecoderLayerDepth":6,
"ModelFilePath":"D:\\GPU\\cutwords\\model\\seq_cut_word.model",
"SrcVocab":null,
"TgtVocab":null,
"SrcVocabSize":300000,
"TgtVocabSize":300000,
"SharedEmbeddings":false,
"SrcEmbeddingModelFilePath":null,
"TgtEmbeddin

[2022-07-28 04:37] zhongkaifu commented on #55
Can you please also share your logs here ?

[2022-07-28 04:57] zhongkaifu commented on #55
I just made a quick code change that always saves model after training. (Currently, Seq2SeqSharp only save model after it runs validation and get better result (validation result or lower cost)). You can pull the latest code from the repo, and retry it.

[2022-07-28 05:07] lijianxin520 commented on #55
This is a log of my 10 attempts at training; I trained 100 times without saving the model.
[SeqLabelConsole_2022_07_28_12h_14m_57s.log](https://github.com/zhongkaifu/Seq2SeqSharp/files/9205509/SeqLabelConsole_2022_07_28_12h_14m_57s.log)

[2022-07-28 05:22] zhongkaifu commented on #55
Your training got finished only after 1,000 updates which is pretty small and even warmup (8,000 steps) didn't finished. I can try to reduce your batch size to a smaller number, and retrain your training.

Anyway, as I mentioned in above, I already made a code change that always save model after training. You can apply and retry it.

[2022-07-28 06:31] lijianxin520 commented on #55
Thanks for your help. I'll give it a try!

[2022-07-29 07:17] #55 closed

[2022-08-03 08:23] piedralaves commented on #55
Could you please indicate the change specifing the line and the modification?
Thanks a lot.

[2022-08-03 16:45] zhongkaifu commented on #55
@piedralaves  Please check this commit: https://github.com/zhongkaifu/Seq2SeqSharp/commit/1e31aef8534581d7e4b65853947e8209e2042e41

[2022-08-10 00:51] #53 closed

[2022-08-25 02:23] airmouse opened #56 "Error: C# 8.0 language feature"
I am trying to load the .sln and have .Net Core and VS 2019 installed, I have adjusted targets in all .csproj file to `<TargetFramework>net4.0</TargetFramework>`

But in some files (eg. MoEFeedForward.cs line #62) there are `using` statements that are not compatible with the earlier frameworks, yet it is mentioned directly in the project description that earlier .net versions are supported. Can I

[2022-08-25 03:13] zhongkaifu commented on #56
If you would like to use earlier .net version, you have to make some changes for back compatible, such as "using" statements -> "using(...) {}" block.

Is there any reason that you don't want to use .NET 6.0 ?